body{
    background-color:#0F0F14;
}

a{
    text-decoration: none;
}

.header{
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:52px;
    position:fixed;
    background-color:rgba(250, 250, 250, 0.8);
    z-index: 1000;
}

@keyframes RightToLeft {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  header {
    animation-duration: 1s;
    animation-name: RightToLeft;
    animation-iteration-count: none;
  }

.header-margin{
    width:100%;
    height:52px;
}

.title{
    float:left;
    padding :0px 15px 0px 15px;
}

.menu{
    float:right;
    margin: 0px 30px 0px 30px;
    display:none;
}

.wrapper-top{
    width:100%;
    height:100px;
    margin: 0 auto;
    background-image:url(top-image.JPG);
    background-size:cover;
    color:white;
    padding: 180px 0px 100px 0px;
}

@keyframes FadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.wrapper-top{
    animation-duration: 1.5s;
    animation-name: FadeIn;
    animation-iteration-count: none;
}

.wrapper-news{
    width:25%;
    background-color: rgba(250, 250, 250, 0);
    margin: 3% 1.75% 3% 9%;
    transition-duration:0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0ms;
    border-radius:5px;
    box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
    float:left;
}

.container-news{
    width:auto;
    height:auto;
    color:white;
}

.wrapper-profile{
    background-color:rgba(250, 250, 250, 0);
    width:25%;
    margin: 3% 1.75% 3% 1.75%;
    transition-duration:0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 50ms;
    border-radius:5px;
    box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
    float:left;
}

.container-profile{
    width:auto;
    height:auto;
    color:white;
}

.wrapper-portrait{
    background-color:rgba(250, 250, 250, 0);
    width:25%;
    margin: 3% 9% 3% 1.75%;
    transition-duration:0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 100ms;
    border-radius:5px;
    box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
    float:left;
}

.container-portrait{
    width:auto;
    height:auto;
    color:white;
}

footer{
    background-color:rgba(250, 250, 250, 0);
    width:100%;
    margin: 0 auto;
    height:350px;
    transition-delay: 4.5s;
    transition: 1s;
    border-radius:5px;
    clear:left;
}

footer h2{
    text-align: center;
    color:white;
}

.twitter{
    margin:0 auto;
    background-color:#55acee;
    border-radius:5px;
    width:64px;
    height:64px;
}

.twcolor{
    color:white;
    padding-top:8px;
    padding-left:8px;
}

@media only screen and (max-width: 1024px){
    .wrapper-top{
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-image:url(top-image-longer.JPG);
      background-size:cover;
      color:white;
    }

    .wrapper-news{
        width:90%;
        background-color: rgba(250, 250, 250, 0);
        margin: 0 auto;
        transition-duration:2s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0ms;
        border-radius:5px;
        box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
        float:none;
    }

    .container-news{
        width:auto;
        height:auto;
        color:white;
    }

    .wrapper-profile{
        background-color:rgba(250, 250, 250, 0);
        width:90%;
        margin: 0 auto;
        transition-duration:2s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 50ms;
        border-radius:5px;
        box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
        float:none;
    }

    .container-profile{
        width:auto;
        height:auto;
        color:white;
    }
    
    .wrapper-portrait{
        background-color:rgba(250, 250, 250, 0);
        width:90%;
        margin: 0 auto;
        transition-duration:2s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 100ms;
        border-radius:5px;
        box-shadow: 0 0 0px 0px rgba(250, 250, 250, 0);
        float:none;
    }

    .container-portrait{
        width:auto;
        height:auto;
        color:white;
    }

}
