body{
    background-color:#0F0F14;
}

.header{
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:52px;
    position:fixed;
    background-color:rgba(250, 250, 250, 0.8);
}

@keyframes RightToLeft {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  header {
    animation-duration: 1s;
    animation-name: RightToLeft;
    animation-iteration-count: none;
  }

.header-margin{
    width:100%;
    height:52px;
}

.title{
    float:left;
    padding :0px 15px 0px 15px;
}

.menu{
    float:right;
    margin: 0px 30px 0px 30px;
    display:none;
}

.wrapper-top{
    width:100%;
    height:480px;
    margin: 0 auto;
    background-image:url(top-image.JPG);
    background-size:cover;
    color:white;
    padding: 180px 0px 100px 0px;
}

@keyframes FadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.wrapper-top{
    animation-duration: 1.5s;
    animation-name: FadeIn;
    animation-iteration-count: none;
}



@media only screen and (max-width: 767px){
    .wrapper-top{
      width: 100%;
      height: auto;
    }
}



.wrapper-news{
    width:90%;
    background-color: #F5D054;
    margin: 0 auto;
    transition-duration:2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

.container-news{
    width:auto;
    height:auto;
}

.wrapper-profile{
    background-color:#00A2B2;
    width:90%;
    margin: 0 auto;
    transition-duration:2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

.container-profile{
    width:auto;
    height:auto;

}

.wrapper-portrait{
    background-color:#EE6942;
    width:90%;
    margin: 0 auto;
    transition-duration:2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

.container-portrait{
    width:auto;
    height:auto;
}

footer{
    background-color:#6B4A3C;
    width:100%;
    margin: 0 auto;
    height:350px;
    transition-delay: 4.5s;
    transition: 1s;
}

footer h2{
    text-align: center;
}

.twitter{
    margin:0 auto;
    background-color:#55acee;
    border-radius:5px;
    width:64px;
    height:64px;
}

.twcolor{
    color:white;
    padding-top:8px;
    padding-left:8px;
}